/* Scroll padrão */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Cor do scroll */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
}

/* Cor de fundo do scroll */
::-webkit-scrollbar-track {
    background-color: transparent;
}


#chat {
    background-color: black;
    color:white;
    margin: 0px 10px;
    border-radius: 7px;
    border: solid 1px black;
    /* width: 35%; */
    height: 60vh;
    max-height: 40vh;
    overflow-y: scroll; 
    overflow-x: hidden;
    word-wrap: break-word;
}


/* //*Estilos para o Internet Explorer */
.cartas::-ms-scrollbar {
    width: 5px;
}
.cartas::-ms-thumb {
    background-color: #888;
    border-radius: 5px;
}

#messageInput {
    /* height: auto; */
    background-color: #333;
    color: white;
    max-height: 50px;
    width: 90%;
    max-width: 90%;
    margin: 10px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    resize: none; /* //* Para evitar a redimensionamento manual */
}
.currentUserMessage {
    /* font-weight: bold; */
    /* text-align: right; */
    margin-left: 10px;
    color: white; /* //* Cor do texto da mensagem */
}

.currentUserMessage .username {
    color: rgb(248, 248, 125); /* //* Cor do nome do usuário */
}

.otherUserMessage {
    display: inline-block;
    margin-left: 2px;
    border-radius: 5px;
    border: solid 1px white;
    color: white; /* //* Cor do texto da mensagem */
    padding: 5px; /* //* Adicionando algum preenchimento para espaçamento interno */
    max-width: 90%; /* //*Define a largura máxima do balão para 85% do contêiner */
    word-wrap: break-word; /* //* Garante que palavras longas se quebrem corretamente */
    min-width: 50%;
}


.fontePadrao{
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}
.fontePadrao2{
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fonteJogo{
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-black{
    color:black;
}

.username {
    color: rgb(255, 255, 255); /* //* Cor do nome do usuário */
    font-weight: bold;
}

.otherUsername {
    color: rgb(255, 255, 255); /* //* Cor do nome do usuário */
    font-weight: bold;
}

#btnEnviar{
    visibility: hidden;
}

.display{
    margin: 10px;
}

body{
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
}

.Mesa {
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
}

.cartas-pergunta {
    width: 16%;
    max-width: 100px;
    height: 150px;
    border: solid 1px rgb(172, 36, 172);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 5px 1%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 12px;
}
.cartas {
    width: 16%;
    max-width: 100px;
    height: 150px;
    border: solid 2px rgb(172, 36, 172);
    background-color: #fff;
    border-radius: 10px;
    margin: 5px 1%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 14px;
    padding: 10px; /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.2s ease-in-out; /* Efeito de transição */
}

.cartas:hover {
    transform: scale(1.5); /* Efeito de escala no hover */
}

.cartas h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.cartas p {
    flex-grow: 1; /* Faz o texto ocupar o espaço disponível */
    margin-bottom: 10px;
}

.cartas button {
    background-color: rgb(172, 36, 172);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease; /* Efeito de transição na cor de fundo */
}

.cartas button:hover {
    background-color: #a82da8;
}
/* .cartas {
    width: 16%;
    max-width: 100px;
    height: 150px;
    border: solid 1px rgb(172, 36, 172);
    background-color: white;
    border-radius: 5px;
    margin: 5px 1%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 12px;
}
.cartas:hover{
    transform: scale(1.5);
} */
.carta-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -20px; */
    text-align: center;
    /* padding: 10px;  */
    /* Adicione algum espaço interno para melhorar o visual */
}
.cartas-desabilitadas {
    opacity: 0.5; /* Torna os elementos semi-transparentes quando desabilitados */
}
#respostaContainer{
    margin-left: 40px
}

.carta-resposta{
    /* width: 70px; */
    width: 15%;
    height: 100px;
    border: solid 1px rgb(172, 36, 172);
    background-color: white;
    color:black;
    border-radius: 5px;
    margin: 5px 1%;
    font-size: 11px;
    display: flex;
    flex-direction: column; 
    overflow-y: auto;
    overflow-x: hidden;
}

.escolherResposta{
    width: 100%;
    height: 20px;
    font-size: 9px;
    color: rgb(0, 202, 84)
    
}

.answerMessage {
    background-color: #c9f7f5; /* Adicione a cor desejada para mensagens de resposta */
}

.pontosUsuario{
    margin-left: 10px;
}
.cursorPointer{
    cursor: pointer;
}

#escolhas {
    height: 200px;
    width: 50%;
    overflow-y: auto;
    border: solid 2px #3498db; /* Cor da borda azul */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    background-color: #9e9e9e; /* Cor de fundo cinza claro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#escolhas::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

#escolhas::-webkit-scrollbar-thumb {
    background-color: #3498db; /* Cor do polegar da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
}

#escolhas::-webkit-scrollbar-track {
    background-color: #f2f2f2; /* Cor da trilha da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
}
/* #escolhas{
    height: 200px;
    width: 50%;
    overflow-y: auto;
    border: solid 1px white;
} */

#Rodada{
    margin-right: 100px;
    overflow-y: auto;
    height: 200px;
    width: 20%;
}

.textoJogadoresOn{
    font-size: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#resposta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 300px;
    overflow-y: scroll;
}

.margin10Top{
    margin-top:10px;
}

#loader {
    position: fixed;
    width: 70px;
    height: 70px;
    z-index: 99999;
}

.propag{
    width: 15%;
    /* height: 100%; */
    border: solid 1px gray;
}



/*//! Adapte as configurações conforme necessário para diferentes tamanhos de tela usando media queries */

@media (max-width: 600px) {
    .cartas {
        width: 100%;
        max-width: none;
        margin-bottom: 10px;
    }
}


/* Adicione esta classe para aplicar a animação de fade no modal */
.fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}